body {
  font-family: system-ui;
}

.blog-posts-container {
  display: flex;
  flex-direction: column;
  
  border: solid;
}

.blog-post-element {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;

  gap: 50px;
  padding-left: 35px;
  padding-right: 35px;
}

.blog-post-link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

a {
  text-decoration: none;
}

.login-form-container {
  display: none;
}

.post-container {
  border: solid;
  display: flex;
  flex-direction: column;
  padding: 35px;

  gap: 10px;

  border-radius: 10px;
}

.post-name {
  margin: 0;
}

.post-date {
  color: #b7b7b7;
}

.post-content {
  margin: 0;
}