body {
  font-family: system-ui;
}

.post-admin-controls {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.new-post-container {
  border-style: solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.subheader {
  padding: 10px;
}

.new-post-form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-input {
  width: 100%;
  border-radius: 2px;
  border-style: solid;
  padding: 0;
  margin: 0;
}

textarea {
  min-height: 50px; 
  max-height: 200px; 
  resize: vertical;
  border-radius: 2px;
  border-style: solid;
}

.edit-post-value {
  display: none;
}

.edit-post-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-style: solid;
  border-radius: 3px;
  border-width: 1px;

  padding-left: 10px;
  padding-right: 10px;
}

.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.edit-form-container {
  display: flex;
  flex-direction: column;
  border: solid;
  padding: 10px;
  border-radius: 10px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-form-input {
  width: 99%;
}

.edit-form-input-hidden {
  display: none;
}

a {
  text-decoration: none;
}
