body {
  font-family: system-ui;
}

.new-post-container {
  border-style: solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.subheader {
  padding: 10px;
}

.new-post-form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-input {
  width: 100%;
  border-radius: 2px;
  border-style: solid;
}

textarea {
  min-height: 50px; 
  max-height: 200px; 
  resize: vertical;
  border-radius: 2px;
  border-style: solid;
}